#main.user-page {
  padding: 60px 0 80px;
}

.user-account {
  background-color: #fff;
  border-radius: 4px;
  padding: 25px 60px;
  border: 1px solid lightgray;
}

.user-account h2 {
  color: #4f2582;
  font-weight: 700;
  margin-bottom: 55px;
}

.user-account input {
  height: 44px;
  margin-bottom: 30px;
  font-size: 16px;
}

.user-account .btn {
  background-color: #00a651;
  color: #fff;
  padding: 5px 32px 7px;
  margin-top: 10px; 
}



.user-account .user-option {
  overflow:hidden;
  margin-top:55px;
}

.user-option .forgot-password {
  margin-top:10px;
}

.user-page .btn-primary {
  padding:15px 30px;
  display:block;
  font-size:18px;
  border-radius:4px;
  margin-top:25px;
  background-color:#00a651;
}

.user-page .btn-primary:hover {
  background-color:#4f2582;
}
