.courseFramework {
	list-style-type: disc;
	ul {
	    list-style-type: circle;
	}
}
.courseFrameworkHeading {
	background-color: #707070;
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 1em 0;
}

.courseFrameworkSubheading {
	background-color: #E2E2E2;
	padding: 1em 2em;
    color: black;
}